#banner {

    height: 90vh;
    background: url('darky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.btn {
    padding: 15px 30px;
    font-weight: 900;
    border-radius: 60px;
    font-size: 18px
    transition: all 0.4s ease;
}

.btn-brand {
    background-color: ##964B00(11, 86, 121);
    color: #fff;
    border: 2px solid #fff;
}

.btn-brand:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

section {
    padding: 100px 0;
}

#about {
    background-color: black(212, 255, 224);
}

#about h2 {
    font-size: 50px;
    font-weight: 900;
    color: #964B00(30, 42, 30);
}

#about h3 {
    color: #964B00(30, 42, 30);
}

#about p {
    color: #964B00(30, 42, 30);
}

.Ror {
    width: 40%;
}

.card {
    transition: background-color 0.3s, color o.3s;
    border: 5px solid var(--border); /* Border style */
    box-shadow: 0 0 10px #964B00(0,0,0,0.2);
    border-radius: 30px;
}

.card:hover {
    background-color: #964B00(0, 0, 0);
}

.card:hover .card-title,
.card:hover .card-text,
.card:hover .btn {
    color: #fff;
}

#services h2 {
    font-size: 50px;
    font-weight: 900;
    color: black(30, 42, 30);
}


#services {
    background-color: rgb(115, 198, 166);
<<<<<<< HEAD
    border-color: #964B00(6, 74, 71);
}

#cta {

    height: 90vh;
    background: url('v.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.testimonials {
    padding: 30px;
    border: 2px solid rgb(37, 131, 87);
    border-radius: 30px;
}

.testimonials img {
    width: 65px;
    border-radius: 100px;

}

.testimonials a {
    color: rgb(130, 13, 69);
}

#reviews h2 {
    font-size: 55px;
    font-weight: 900;
    color: rgb(30, 42, 30);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
=======
}
>>>>>>> 6e16cd430a19c9208ff6881429cafcd3427b9414
